* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*~~~~ Start Body  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*~~~~ Start Footer  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer {
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: linear-gradient(darkred 20%, black 80%);
    color: white;
    text-align: center;
}